body{
background-color: aquamarine;
}

header h1{
    text-align: center;
}

nav{
    border: 3px solid black;
    padding: 5px;
    width: auto;
    background-color: aqua;
    font-size: 25px;
    box-shadow: 2px 2px 2px black;
}

aside{
    border: 3px solid black;
    padding: 5px;
    position: absolute;
    top: 140px;
    right: 8px;
    width: 150px;
    height: 75%;
    background-color: aqua;
    font-size: 25px;
    writing-mode: vertical-lr;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

.first_box{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    font-size: 25px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 50px;
    background-color: rgb(113, 113, 252);
    box-shadow: 5px 2px 2px black;
}

.sec_box{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    font-size: 25px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 300px;
    background-color: rgb(248, 84, 8);
    box-shadow: 5px 2px 2px black;
}

.third_box{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    font-size: 25px;
    height: 200px;
    position: absolute;
    top: 450px;
    left: 50px;
    background-color: blueviolet;
    box-shadow: 5px 2px 2px black;
}

.forth_box{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    font-size: 25px;
    height: 200px;
    position: absolute;
    top: 450px;
    left: 300px;
    background-color: chartreuse;
    box-shadow: 5px 2px 2px black;
}

.first_box p{
    vertical-align: middle;
}