*{
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*Styling the header*/
header{
    background-color:rgb(59, 135, 59);
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: -2px -2px 3px black;
}
/*Styling the navbar which float to left side*/
nav{
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    box-shadow: 3px 3px 4px black;
}
nav ul{
    list-style-type: none;
    padding: 0px;
}
nav a{
    text-decoration: none;
    padding: 5px;
    float: left;
    display: inline;
    padding-left: 10px;
    font-size: 12pt;
}
nav a:hover{
    background-color: aquamarine;
}

article{
    padding: 20px;
    width: 100%;
    height: 30%;
    background-color: #999;
    float: left;
    overflow: auto;    
}
article::-webkit-scrollbar{
    display: none;
}

footer{
    text-align: center;
    background-color: #777;
    color: white;
    padding: 10px;
}

section::after{
    content: none;
    display: table;
    clear: both;
}

/*Hover animation*/
.headanime span:hover{
    transform:translateY(-20px);
}

/*Adding header animation*/
.headanime span{
    display: inline-block;
    animation: shadowdance 3s infinite;
    animation-delay: calc(.5s * var(--i));
}
@keyframes shadowdance {
    50%{
        transform:translate3d(-20px, -20px, -20px);
    }
}